In [68]:
import numpy as np
import pandas as pd

In [74]:
death_rate = pd.read_csv("our_world_in_data.csv")
death_rate_pd = pd.DataFrame(death_rate)
death_rate_pd

,Age group (years),"Death rate, United States, 2019","Death rate, Uganda, 2019"
0,0-4,0.04,0.40
1,5-9,0.02,0.17
2,10-14,0.02,0.07
3,15-19,0.02,0.23
4,20-24,0.06,0.38
5,25-29,0.11,0.40
6,30-34,0.29,0.75
7,35-39,0.56,1.11
8,40-44,1.42,2.04
9,45-49,4.00,5.51
10,50-54,14.13,13.26
11,55-59,37.22,33.25
12,60-64,66.48,69.62
13,65-69,108.66,120.78
14,70-74,213.10,229.88
15,75-79,333.06,341.06
16,80-84,491.10,529.31
17,85+,894.45,710.40

In [100]:
print("Crude death rate for COPD (death rate per 100,000 people) of USA is",np.sum(death_rate_pd["Death rate, Uganda, 2019"]).round(1))
print("Crude death rate for COPD (death rate per 100,000 people) of Uganda is", np.sum(death_rate_pd["Death rate, United States, 2019"]).round(1))

Crude death rate for COPD (death rate per 100,000 people) of USA is 2058.6
Crude death rate for COPD (death rate per 100,000 people) of Uganda is 2164.7

In [101]:
standard_population_distribution = np.array([8.86, 8.89, 8.60, 8.47, 8.22, 7.93, 7.61,
                                              7.15, 6.59, 6.04, 5.37, 4.55, 3.72, 2.96,
                                              2.21, 1.52, 0.91, 0.63])/100
standard_population_distribution.sum() #should equal 1

1.0023000000000002

In [102]:
uganda_population = 42949000
usa_population = 334320000

In [103]:
usa_standardised_death_rate = np.multiply(death_rate_pd["Death rate, United States, 2019"],standard_population_distribution)
uganda_standardised_death_rate = np.multiply(death_rate_pd["Death rate, Uganda, 2019"],standard_population_distribution)

In [104]:
print("Standardised death rate for COPD (death rate per 100,000 people) of USA is", np.sum(usa_standardised_death_rate).round(1))
print("Standardised death rate for COPD (death rate per 100,000 people) of Uganda is", np.sum(uganda_standardised_death_rate).round(1))

Standardised death rate for COPD (death rate per 100,000 people) of USA is 28.4
Standardised death rate for COPD (death rate per 100,000 people) of Uganda is 28.7